@import 'tailwindcss';

:root {
    --orange-1: #cf3700;
    --orange-2: #ff6c37;
    --noir: #1a1a1a;
    --gris-bleute: #6b7280;
    --blanc: #ffffff;
    --nuance-de-blanc-1: #f9f9f9;
    --gris: #a5a5a5;
    --nuance-de-blanc-2: #f4f4f8;
    --bleu-fonce: #0a5197;
    --like-: #e20000;
    --gris2: #696969;
    --gris-fonce: #343434;
    --favorite: #ffd400;

    --bleu-electrique: #0080ff;

    --background-color: #ffffff;
    --text-color: #000000;
    --placeholder-color: #696969;
    --card-color-nuance-1: #f9f9f9;

    --color-loader: #000000;

    --color-background-input-admin: #f4f4f8;

    --color-border-input-admin: #444444;
    --error-color: #cf3700;

    --color-background-comment: #f9f9f9;
    --color-border-input-comment: #696969;
    --color-background-input-comment: #f9f9f9;
    --color-placeholder-input-login-signup: #696969;

    --color-background-container-description: #ffffff;
}
/* * {
    border: 1px solid red;
} */

.dark {
    --orange-1: #0a5197;
    --orange-2: #e69533;
    --orange-3: #0080ff;
    --noir: #f2f2f2;
    --gris-bleute: #5d7787;
    --blanc: #0a0a0a;
    --nuance-de-blanc-1: #1a1a1a;
    --gris: #444444;
    --nuance-de-blanc-2: #121212;

    --bleu-electrique: #0080ff;

    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --placeholder-color: #696969;
    --card-color-nuance-1: #232323;

    --color-loader: #ffffff;
    --color-background-input-admin: #232323;
    --color-border-input-admin: #232323;
    --error-color: #cf3700;

    --color-background-comment: #232323;
    --color-border-input-comment: #696969;
    --color-background-input-comment: #343434;
    --color-placeholder-input-login-signup: #696969;

    --color-background-container-description: #1a1a1a;
}

/* WebKit only (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--bleu-electrique);
    border-radius: 50px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--gris);
    border-radius: 50px;
}

* {
    /* border: 1px solid red; */
}
@keyframes modalAppear {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate-modalAppear {
    animation: modalAppear 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
